html{
margin: 0;
padding: 0;
   background-color: rgba(207, 229, 255, 0.995) ;
    /* height:max-content; */
    /* background-repeat: no-repeat; */
    /* min-height:100% ; */
    /* background-blend-mode: multiply; */ 
    /* background-image: -webkit-linear-gradient(90deg,rgb(48, 48, 48),rgba(37, 74, 81, 0.918), rgb(190, 155, 109) 100%  );  */
    transition: 10s;
 animation: bg-now 10s steps(50)  infinite ;
  /* height: fit-content; */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
overflow-x: hidden;
}

