@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Raleway:ital,wght@1,100&display=swap');


.product{
display: flex;
width: 98vw;
height:auto;
flex-wrap: wrap;
justify-content: space-evenly;

}
.star{
    font-size: 0.9em;
}
.one-product{
    overflow-x: hidden;
    padding: 1% 0%;
    margin-bottom: 1%;
    display: inline-flex;
    width: 15vw;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* padding: 2em; */
    border: 2px solid rgb(88, 88, 88);
    background-color: rgba(240, 248, 255, 0.334);
    border-radius: 5%;
    transition: 0.3s;
    cursor:context-menu;
    box-shadow: 8px 10px 9px rgba(0, 0, 0, 0.593);
border-collapse: collapse;
transition: 0.5s;
}
/* .one-product:not(last-of-type){
margin-right: 10px;


} */
.link{
    text-decoration: none;
}
.product-img{
    display: inline;
    /* padding: 1em; */
    /* height: 5rem;
    width: 5rem; */ 
}
.product-img img{
     /* height: 8rem; */
    width: 90%;
    border-radius: 5% /10%;
}
.one-product p{
    font-size: 0.88em;
    /* width: 100%; */
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-style: oblique;
    
}
p:nth-of-type(1){
    font-size: 1em;
    font-weight: 900;    
}
    .one-product:hover{
        background-color: rgba(120, 120, 120, 0.53);
        transform: translateY(-2px);

    }